* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*base elements*/
body {
    padding: 0;
    margin: 0;
}

:root {
    --font-main: "Roboto Mono";
}

/*background*/
.container {
    width: 100vw;
    height: 100vh;
    background: #f8f0df;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*clock*/
.box {
    width: 340px;
    height: 180px;
    background: #79b4b7;
    border-radius: 22px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--font-main);
    color: #fefbf3;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}
